/* Team Champions-League, style.css */

/*
We used Modular Scale Minor 3rd, 120% in the Math calculations below.
We assumed browser defult font size of 16px.
*/

/* ===== BASE STYLES ==================== */

/* Daniel, Richard - you can add to below for your pages */
/** mobile registration**/

form {
  background: #cccccc;
  width: 90%;
  margin: auto;
  padding: 10px;

}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

td {
  padding-right: 20px;
}

.cards {
  width: 30%;
}
/**richard's form**/

*{
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 1em;  /* 16px, (16px/16px=1em) */
  line-height: 1.2em;  /* 120% at 19.2px, (19.2/16px=1.2) */
  padding: 0.5em 0.5em;  /* 8px, (8px/16px=0.5em) */
}

/* setup "font-family" of Sans-Serif */
body {
  font-family: "Times New Roman", Georgia, Serif;
  background-color: whitesmoke;
}

/* for Responsive Media */
img, audio, video {
  display: block;
  max-width: 100%;
}

/* ===== LAYOUT STYLES ================== */
#header{
  width: 100%;
  height: 80px;
  background-color: #333;
  box-shadow: 0px 2px 4px gray;
}
/* Add a black background color to the top navigation */
#navbar{
  width:100px;
  height: 80px;
  float: right;
}

/* Style the links inside the navigation bar */
#navbar> li {
  width: 200px;
  list-style: none;
  float: left;
  border-right: 1px solid gray;
  border-left: 1px solid gray;

}

li>a {
  display: block;
  color: white;
  line-height: 80px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
}

/* Change the color of links on hover */

li>a:hover,
li>a:focus{
  background: whitesmoke;
  color: #333;
}

#logo{
  width: 200px;
  height: 80px;
  float: left;
}
/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
#navbar .icon {
  display: none;
}

/* team members add their styles below for their pages */



/* ===== MODULAR STYLES ================= */

/* Our MEDIA queries are listed below */

/* for tablets ====== */
@media screen and (max-width: 1060px) {
  #header{
    width: 100%;
    height: 60px;
    position: relative;
    top: 80px;
  }
  #navbar{
    width:100px;
    height: 60px;
    float: right;
  }
  #navbar> li {
    width: 18%;
  }
  li>a {
    font-size: 16px;
    line-height: 60px;
  }
  #logo{
    width: 200px;
    height: 80px;
    float: left;
    padding-left: 40px;
    position: absolute;
    top: -80px;
  }

  /* add styles here */
}
/* The "responsive" class is added to the navbar with JavaScript when clicks on the icon. The navbar fits on small screens vertically instead of horizontally. */
@media screen and (max-width: 480px) {
  #header{
    width: 100%;
    height: 60px;
  }
  #navbar{
    width:100px;
    height: 60px;
    float: right;
  }
  #navbar> li {
    width: 200px;
    list-style: none;
    float: none;
    border-bottom: 1px solid whitesmoke;
  }
  li>a {
    display: block;
    color: white;
    line-height: 60px;
    font-size: 20px;
    background: #333;
  }

  /* for desktops and wide screens ====== */
  @media screen and (min-width: 992px) {

    /* add styles here */
  }

  /* ===== STATE STYLES =================== */

  /* we need some styles below */

  /* ====== end of style.css ============== */
