/* Team Champions-League, style.css */

/* 
   We used Modular Scale Minor 3rd, 120% in the Math calculations below.
   We assumed browser defult font size of 16px.
*/

/* ===== BASE STYLES ==================== */

/* Daniel, Richard - you can add to below for your pages */


/* ===== LAYOUT STYLES ================== */

/* team members add their styles below for their pages */

/* Nilufer Anlar - About Us page styles are listed below */

html {
  font-size: 1em;  /* 16px, (16px/16px=1em) */
  line-height: 1.2em;  /* 120% at 19.2px, (19.2/16px=1.2) */
  padding: 0.5em 0.5em;  /* 8px, (8px/16px=0.5em) */
}

/* setup "font-family" of Sans-Serif */
body {
  font-family: "Times New Roman", Georgia, Serif;
  background-color: whitesmoke;
}

/* for Responsive Media */
img, audio, video {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 1.5em;  /* 24px, (24px/16px=1.5em) */
  line-height: 1.81em;  /* 120% at ~29px, (29px/16px=1.81em) */
  font-weight: 700;  /* for bold effect*/
}

h2 {
  font-size: 1.25em;  /* 20px, (20px/16px=1.25em) */
  line-height: 1.5em;  /* 120% at 24px, (24px/16px=1.15em) */
  font-weight: 700;  /* for bold */
  margin: 0.5em 0 0.5em 0;  /* 8px, (8px/16px=0.5em) */
}

h3 {
  font-size: 1em;  /* 16px, (16px/16px=1em) */
  line-height: 1.25em;  /* 20px, (20px/16px=1.25em) */
  font-weight: 700;  /* for bold */
  margin: 0.5em 0 0.5em 0;  /* 8px, (8px/16px=0.5em) */
}

p {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 1em;  /* 16px, (16px/16px=1em) */
  line-height: 1.2em;  /* 120% at 19.2px, (19.2px/16px=1.2em)*/
  padding: 0 0 0.25em 0;  /* ~4px, (4px/16px=0.25em) */
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  position: relative;
  border: 1px solid black;
  width: 95%;  /* for better user experience */
}

#footer {
  width: 100%;
  background-color: gray;
  font-size: 0.75em;  /* 12px */
  text-align: center;
  margin: 1em 0;
  padding: 0.25em 0;   /* 4px */
}

/* constitution page */

/* ??? */
/*
.label .button {
  font-size: 19px;
  text-transform: uppercase;
}

.button {
  font-weight: 200;
  color: #998f8b;
  display: block;
}
*/

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;  /* or center? */
  border: 1px solid red;
  font-weight: bold;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default *
.panel{
  padding: 18px 0;   /* or 0 18px ??? */
  background-color: white; /* ??? */
  display: none;
  overflow: hidden;
}

#amend {
  color: blue;
  font-style: oblique;
}



/* ===== MODULAR STYLES ================= */

/* Our MEDIA queries are listed below */

/* for tablets ====== */
@media screen and (min-width: 768px) { 
  /* add styles here */
} 

/* for desktops and wide screens ====== */
@media screen and (min-width: 992px) {
  /* add styles here */
}
  
/* ===== STATE STYLES =================== */

/* we need some styles below */

/* ====== end of style.css ============== */