/* Team Champions-League, style.css */

/*
We used Modular Scale Minor 3rd, 120% in the Math calculations below.
We assumed browser defult font size of 16px.
*/

/* ===== BASE STYLES ==================== */

/* Daniel*/

/*Strip the ul of padding and list styling*/
ul {
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
}
/*Create a horizontal list with spacing*/
li {
  display:inline-block;
  float: left;
  margin-right: 1px;
}
/*Style for menu links*/
li a {
  display:block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
  background: #19c589;
}
/*Style for dropdown links*/
li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
  background: #19c589;
  color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
  display: none;
}
/*Make dropdown links vertical*/
li ul li {
  display: block;
  float: none;
}
/*Prevent text wrapping*/
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
  display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
  display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
  display: block;
}

/** mobile registration**/

form {
  background: #ccc;
  width: 90%;
  margin: auto;
  padding: 10px;

}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

td {
  padding-right: 20px;
}

.cards {
  width: 30%;
}
/**richard's form**/


/* ===== LAYOUT STYLES ================== */

/* team members add their styles below for their pages */

/* Nilufer Anlar - About Us page styles are listed below */

html {
  font-size: 1em;  /* 16px, (16px/16px=1em) */
  line-height: 1.2em;  /* 120% at 19.2px, (19.2/16px=1.2) */
  padding: 0.5em 0.5em;  /* 8px, (8px/16px=0.5em) */
}

/* setup "font-family" of Sans-Serif */
body {
  font-family: "Times New Roman", Georgia, Serif;
  background-color: whitesmoke;
}

/* for Responsive Media */
img, audio, video {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 1.5em;  /* 24px, (24px/16px=1.5em) */
  line-height: 1.81em;  /* 120% at ~29px, (29px/16px=1.81em) */
  font-weight: 700;  /* for bold effect*/
}

h2 {
  font-size: 1.25em;  /* 20px, (20px/16px=1.25em) */
  line-height: 1.5em;  /* 120% at 24px, (24px/16px=1.15em) */
  font-weight: 700;  /* for bold */
  margin: 0.5em 0 0.5em 0;  /* 8px, (8px/16px=0.5em) */
}

h3 {
  font-size: 1em;  /* 16px, (16px/16px=1em) */
  line-height: 1.25em;  /* 20px, (20px/16px=1.25em) */
  font-weight: 700;  /* for bold */
  margin: 0.5em 0 0.5em 0;  /* 8px, (8px/16px=0.5em) */
}

p {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 1em;  /* 16px, (16px/16px=1em) */
  line-height: 1.2em;  /* 120% at 19.2px, (19.2px/16px=1.2em)*/
  padding: 0 0 0.25em 0;  /* ~4px, (4px/16px=0.25em) */
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  position: relative;
  border: 1px solid black;
  width: 95%;  /* for better user experience */
}

#footer {
  width: 100%;
  background-color: gray;
  font-size: 0.75em;  /* 12px */
  text-align: center;
  margin: 1em 0;
  padding: 0.25em 0;   /* 4px */
}

/* Nilufer Anlar - constitution page */

/* use accordion button for the articles */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;  /* center it at bigger screens */
  border: 1px solid red;
  font-weight: bold;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: pink;  /* change the color later */
}

/* Style the accordion panel. Note: hidden by default */
.panel{
  padding: 18px 0;   /* or 0 18px ??? */
  background-color: white; /* ??? */
  display: none;
  overflow: hidden;
}

#amend {
  color: blue;
  font-style: oblique;
}



/* ===== MODULAR STYLES ================= */

/* Our MEDIA queries are listed below */

/* for tablets ====== */
@media screen and (max-width : 760px){
  /*Make dropdown links appear inline*/
  ul {
    position: static;
    display: none;
  }
  /*Create vertical spacing*/
  li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  ul li, li a {
    width: 100%;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display:block;
  }
}
/* add styles here */

/* for desktops and wide screens ====== */
@media screen and (min-width: 992px) {
  /* add styles here */
}

/* ===== STATE STYLES =================== */

/* we need some styles below */

/* ====== end of style.css ============== */
